/* Project section */
.projectContainer{
  background: var(--project-bg);
  padding: 20px 0 ;
}

.projectContainer p:last-child {
    text-align: center;
    margin: 8px 0;
  }
  
  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
  }
   
  .projectVectorImg {
    width: 250px;
    height: 250px;
  }
  
  .projectVectorImg img {
    width: 100%;
    height: 100%;
  }
  
  .projectInner {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    color: black;
    padding: 10px;
    border-radius: 15px;
   
   
  
  }
  .projectInner:hover{
    background: var(--secondary-bg);
     box-shadow: var(--card-shadow);
  }
  
  .projectInner img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .projectInner p {
    padding: 5px;
  }
  
  .projectLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .projectLinks a{
    text-decoration: none;
  }



@media (max-width:426px){
    .projectInner {
        width: 85%;
    }


    .quotes i {
        width: 95%;
    }

    .projectInner img {
        height: 160px;
        margin-bottom: 6px;
    }

}