/* Project section */
.projectContainer {
  background: var(--project-bg);
  padding: 20px 0;
}

.project-title-desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-desc {
  margin: 5px 0;
}

.project-tech-used-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.projectVectorImg {
  width: 250px;
  height: 250px;
}

.projectVectorImg img {
  width: 100%;
  height: 100%;
}

.projectInner {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  color: black;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.projectInner:hover {
  background: var(--secondary-bg);
  box-shadow: var(--card-shadow);
  scale: 1.05;
}
.project-image-wrapper{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}
.project-image {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -220px;
  object-fit: cover;
  transition: bottom 3s ease-in-out;
  border-radius: inherit;
}

.projectInner:hover .project-image{
  bottom: 0;
}

.hide-image-scroll{
  bottom: 0 !important;
}

.projectInner p {
  padding: 5px;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.projectLinks a {
  text-decoration: none;
}

.note-wrapper{
  text-align: center;
  font-style: italic;
}

@media(max-width:768px){
  .projectInner {
    width: 45%;
  }

}



@media (max-width:426px) {
  .projectInner {
    width: 85%;
  }
  .project-image{
    bottom: -150px;
  }

  .quotes i {
    width: 95%;
  }


}