/* footer section */
footer {
    background: #040837;
    color: white;
}

.footerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 60px;
}

.footRight {
    display: none;
    flex-direction: column;
}

.footRight a {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    border-top: 1px solid gray;
    padding: 5px 0;
}

/* Find me section */
.findMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--project-bg);
}
.findMe-title{
    font-weight: 600;
}
.findMe i{
    font-size: 0.7rem;
}


@media (max-width:426px) {
    .footerSection {
        padding: 20px;
    }
    .copyright {
        font-size: 0.8rem;
    }
}