@import url('https://fonts.googleapis.com/css2?family=Poppins&famaily=Nunito&family=Inter&display=swap');
@import './styles/commonClasses.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.heading {
  text-align: center;
  color: gray;
  font-size: 3rem;
}

.hide-content{
  display: none;
}

.redirect-btn  {
  border: none;
  padding: 7px 15px;
  margin: 5px 0;
  background: #202d8f;
  color: white;
  border-radius: 25px;
  transition: all 0.3s;
  font-weight: 600;
}

.redirect-btn:hover {
  cursor: pointer;
  background: black;
}


.nopagefound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* for tablet screen */
@media (max-width:769px) {
  .contactImg {
      position: relative;
      left: 0;
  }
}