@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.heading {
  text-align: center;
  color: gray;
  font-size: 3rem;
}

/* navbar section */
.headerSection {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #202d8f;
  color: white;
  position: relative;

}

.sideBar {
  display: none;
}

.leftNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
}
.logo a{
  text-decoration: none;
  color: white;
}

.rightNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.rightNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rightNav ul li {
  list-style: none;
}

.rightNav ul li a {
  text-decoration: none;
  margin: 10px;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.rightNav ul li a:hover {
  background: #5261d6;
}

.rightNav ul li a:active {
  border: 1px solid;
  background: none;
}

/* menubar section */
.menuBar {
  display: none;
  position: absolute;
  right: 2px;
  top: 5px;

}

.line {
  width: 30px;
  margin: 5px;
  background: white;
  height: 3px;
  transition: all 0.5s;
}

.menuActive .line1 {
  transform: rotate(45deg) translate(6px, 1px);
}

.menuActive .line2 {
  opacity: 0;
}

.menuActive .line3 {
  transform: rotate(-45deg) translate(5px, -3px);
}




/* intro section */

.introBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 0;
  flex-wrap: wrap;
}

.intro {
  width: 40%;
}

.intro h1 {
  margin: 5px 0;
}

.intro .socialIcons i {
  color: #ffffff;
  background: #252e6b;
  padding: 6px;
  border-radius: 20px;
  font-size: 1.3rem;

}

.intro .socialIcons .github {
  margin-left: 0;
}

.vectorImg {
  width: 25%;
  margin: 10px;

}

.vectorImg img {
  width: 100%;
}

.wavingHand {
  display: inline-block;
  animation: waveHand 2.5s infinite;
  transform-origin: 70% 70%;

}

@keyframes waveHand {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

}



.btn input {
  border: none;
  padding: 7px 15px;
  margin: 5px 0;
  background: #202d8f;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn input:hover {
  cursor: pointer;
  background: #141b50;
}

input.resumeBtn {
  margin-right: 10px;
}


/* about section */
.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.innerContent {
  width: 50%;
}

.innerContent p {
  margin: 10px 0;
}

.profileImg img {
  border-radius: 15px;
  width: 250px;
}


.educationBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 0 0 5px 2px #cfcdcd;
  border-radius: 10px;
  padding: 5px;
  margin: 20px 0;
}
.eduContent {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.eduContent img{
  width: 50px;
  margin-right: 10px;
}
.collegeDetails p{
  margin: 0;
}

.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quotes i {
  width: 50%;
  color: gray;
  font-size: 0.8rem;
}
.quotes i:nth-child(2){
  text-align: center;
}

/* Project section */
.projectContainer p:last-child {
  text-align: center;
  margin: 8px 0;
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
.projectVectorImg {
  width: 100%;
  text-align: center;
}
.projectVectorImg img{
  width: 300px; 
}

.projectInner {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  color: black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px #9d9999;

}

.projectInner img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.projectInner p {
  padding: 5px;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


/* skill section */
.skillsVector {
  width: 100%;
  text-align: center;
}
.skillsVector img{
  width: 350px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills i{
  font-size: 5rem;
  margin: 10px;
  color: #212d89;
}
.skillsInneer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 70%; */
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 20%;
}

.toolsIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolsIcons .icons{
  width: 15%;
}
.toolsIcons .icons img{
  width: 40%;
}


/* contact section */
.contactInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 15px 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactImg {
  position: absolute;
  left: 10px;
}

.contactImg img {
  width: 300px;
}

.contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #202d8f;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
}

.contact form input,
textarea {
  margin: 6px 0;
  padding: 5px;
  outline: none;
}

.submitBtn {
  border: none;
  background:white ;
  color: #202d8f;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.submitStatus{
  color: white;
  text-align: center;
}
.submitStatus p i{
  margin-right: 5px;
}

.notice{
  text-align: center;
}

/* footer section */
footer{
  background: #040837;
  color: white;
}
.footerSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footRight {
  display: flex;
  flex-direction: column;
}
.footRight a {
  text-decoration: none;
  color: white;
}
.copyright {
  text-align: center;
}

/* Find me section */
.findMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialIcons {
  margin: 5px 0;
}

.socialIcons i {
  margin: 6px 10px;
  font-size: 1.6rem;
  color: white;
}