@import url('https://fonts.googleapis.com/css2?family=Poppins&famaily=Nunito&family=Inter&display=swap');
@import './styles/commonClasses.css';
@import './styles/variable.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.heading-vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.heading {
  text-align: center;
  color: darkgray;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}


.hide-content{
  display: none;
}

.bottom-margin{
  margin-bottom: 85px;
}
.read-more-wrapper{
  margin-top: 15px;
}
.read-more-wrapper a{
  text-decoration: none;
}
.redirect-btn  {
  display: flex;
  align-items: center;
  border: none;
  padding: 7px 15px;
  margin: 5px 0;
  background: #202d8f;
  color: white;
  border-radius: 25px;
  transition: all 0.3s;
  font-weight: 600;
}
.arrow-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.redirect-btn:hover {
  cursor: pointer;
  background: black;
  transform: translate(25px, 0px);
}


.nopagefound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.social-icons-wrapper{
  display: flex;
  margin: 10px 0;
}
.social-icons-wrapper .social-icons {
  color: #ffffff;
  background: #252e6b;
  padding: 6px;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  margin-right: 10px;

}