@media (max-width:426px){
    /* Navbar */
    .navBar{
        flex-direction: column;
       justify-content: flex-start;
       transition: all 0.5s ease-out;
    }
    .rightNav{
        display: none;
    }
    .rightNav ul{
        flex-direction: column;
    }
    .rightNav ul li {
        margin: 10px 0;
    }
    .menuBar{
        display: block;
    }
    
    
    /* Home page */
    .intro,.vectorImg,.innerContent {
        width: 80%;
    }
    

    /* about page */
    .profileImg img {
        width: 165px;
    }
    .content {
        justify-content: center;
        margin-bottom: 20px;
    }
    .educationBox {
        width: 85%;
    }
    
    /* Project page */
    .projectInner {
        width: 85%;
    }
    .projectVectorImg img {
        width: 85%;
    }
    .quotes i {
        width: 95%;
    }

    /* Contact page */
    .contactImg {
        position: relative;
    }
    .contactImg img {
        width: 240px;
    }
    .contact{
        width: 100%;
    }
    .contact form {
        width: 85%;
    }

    /* Skill page */
    .skillsVector img{
        width: 85%;
    }
    
    .icons{
        width: 40%;
    }

    .toolsIcons .icons {
        width: 35%;
    }

    /* footer section */
    .footerSection{
        align-items: flex-start;
        flex-direction: column;
    }
    .findMe{
        align-items: flex-start;
    }
    .findMe .socialIcons .github{
        margin-left: 0;
    }
    

    .copyright{
        font-size: 0.8rem;
    }
}

/* for tablet screen */
@media (max-width:769px){
    .contactImg {
        position: relative;
        left: 0;
    }
}